@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@500&display=swap');


body {
    background-image:url(./image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Cabin Condensed', sans-serif;
  }

div {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-shadow: none;
}

.contents {
    color: #fae675;
    letter-spacing: 4px;
}

.btn-1 {
    margin-top: 45px;
    cursor: pointer;
    border: 1px solid #fae675;
    border-radius: 15px;
    background-color: transparent;
    height: 40px;
    width: 150px;
    color: #ffffff;
    font-size: 1em;
    box-shadow: none;
    font-style: bold;
}

